<!DOCTYPE html>
<html>
	<head>
		<title>WEB700 - Home</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body style="background-color: #cff1bf;">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><strong>Stephanie Rose Calma</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					
                    <h2 style="margin-top: 50px;">Welcome to WEB700 Assignment3 Website!</h2>
                    <p style="margin: 20px 0;">
                        This assignment tackles about the demonstration of HTML5 principles and techniques, as well as Routing in Express. <br>
                    </p>
                    <p style="margin: 20px 0;">
                        This assignment will consist of our first, working web server created using the Express.js framework. We will continue to use our collegeData module from assignment 2, as well as the "data" directory containing our student and course information.  Additionally, we will leverage existing HTML code using the Bootstrap 4 framework to kickstart our own HTML for the assignment.  Lastly, we will practice creating tables, lists, images and media from scratch in an "HTML Demo" page.
                    </p>
                  
                    <h4 style="margin: 20px 0;"><u>Introduction to Assignment3 website</u></h4>
                    <p style="margin: 20px 0;">
                        This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: <i>All Students</i>, <i>Students by Course</i>, <i>A Single Student By Student Number</i>, <i>All Managers</i>, and <i>All Courses</i>.
                    </p>

                    <p style="margin: 20px 0;">Please check below links to the different pages:</p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/htmlDemo">HTML Demo</a></li>
                        <li><a href="/students" target="_blank">All Students</a></li>
                        <li><a href="/students?course=3" target="_blank">Students by Course</a></li>
                        <li><a href="/student/2" target="_blank">Single Student By Student Number</a></li>
                        <li><a href="/tas" target="_blank">All Managers</a></li>
                        <li><a href="/courses" target="_blank">All Courses</a></li>
                    </ul>
                  
                    <h4 style="margin: 20px 0;"><u>Introduction to HTML5</u></h4>
                    <p style="margin: 20px 0;">
                        HTML5, short for Hypertext Markup Language version 5, is the latest iteration of the HTML standard. It is a markup language used to structure and present content on the World Wide Web. HTML5 introduces several new elements, attributes, and APIs that enhance the capabilities of web pages.<br>
                        This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web. HTML5 provides new elements and features that enhance the semantics and functionality of web pages.
                    </p>     
                    <section>
                        <h5 style="margin: 20px 0;">Key Features of HTML5</h5>
                        <ul>
                            <li><strong>Semantic Elements:</strong> HTML5 introduces semantic elements such as <i>header, nav, section, article, footer </i>, and more, which provide a clearer structure to web pages and improve accessibility and search engine optimization.</li>
                            
                            <li><strong>Audio and Video Support:</strong> HTML5 includes built-in support for embedding audio and video content on web pages using the <i>audio and video</i> elements, reducing the reliance on third-party plugins like Flash.</li>
                            
                            <li><strong>Canvas:</strong> The <i>canvas</i> element allows for dynamic rendering of graphics, animations, and interactive visualizations using JavaScript.</li>

                            <li><strong>Form Enhancements:</strong> HTML5 introduces new input types, attributes, and validation features for forms, making it easier to build user-friendly and accessible forms.</li>

                            <li><strong>Improved APIs:</strong> HTML5 provides a range of new JavaScript APIs for working with geolocation, web storage, offline applications, drag and drop, and more.</li>
                        </ul>
                    </section>
                      
                    <section>
                        <h5 style="margin: 20px 0;">Browser Support</h5>
                        <p style="margin: 20px 0;">HTML5 is supported by modern web browsers, including Chrome, Firefox, Safari, Edge, and Opera. However, older versions of Internet Explorer may have limited support for some HTML5 features.</p>
                    </section>
                      
                    <footer style="margin: 50px 0;">
                        <p>Enjoy exploring and building with HTML5!</p>
                    </footer>             
					
					<!-- End your code here  -->

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>